<md-content class="md-padding" layout-xs="column" layout="row" ng-cloak>
    <div flex-xs flex-gt-xs="40" layout="column">
      <md-card>
          <img ng-src="me.jpg">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Hi There!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Welcome to my website.  Here you'll find a little more in-depth information about me and my projects that aren't limited to a single-page resume.</p>
          <p>On the left (mobile users use the icon on the top left to open the navigation bar), you'll find links to my past and current projects.</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="vm.showPrerenderedDialog()">About Me</md-button>
          </md-card-actions>
      </md-card>
<!--       <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>

          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">face</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons">face</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <i class="material-icons">face</i>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card> -->
    </div>
    <div flex-xs flex-gt-xs="60" layout="column">
      <md-card>
        <img ng-click="vm.showSimpleToast('Fresno State! Go Dogs!')" style="padding:10px" ng-src="fresnostatelcoe.png">
      </md-card>
      <md-card>
        <img ng-click="vm.showSimpleToast('My hometown, Fresno')" ng-src="https://c1.staticflickr.com/1/198/466586933_9d6f104478_b.jpg">
      </md-card>
    </div>
  </md-content>
<!-- <div layout="column" layout-wrap>
<div layout="row" layout-wrap>
      <md-card flex="100" flex-gt-md="33">
          <img ng-src="me.jpg">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Card with image</span>
                  <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-lg card-media"></div>
                </md-card-title-media>
              </md-card-title>
      </md-card>
      <md-card flex="100" flex-gt-md="33">
        <img ng-src="me.jpg">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Large</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"></div>
              </md-card-title-media>
            </md-card-title>
    </md-card>
    <div layout="column" layout-wrap flex>
    <md-card flex>
      
        <img class="md-card-image" ng-src="612.jpg">
      <md-card-content>
        This is the card content. Controller check: {{ vm.title }}
      </md-card-content> 
    </md-card>
  <md-card flex>
    <img ng-src="612.jpg">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
</md-card>
  </div>
</div>
<div layout="row" layout-wrap>
      <md-card flex="100" flex-gt-md="33">
          <img ng-src="me.jpg">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Card with image</span>
                  <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-lg card-media"></div>
                </md-card-title-media>
              </md-card-title>
      </md-card>
      <md-card flex="100" flex-gt-md="33">
        <img ng-src="me.jpg">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card with image</span>
                <span class="md-subhead">Large</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"></div>
              </md-card-title-media>
            </md-card-title>
    </md-card>
    <div layout="column" layout-wrap flex>
    <md-card flex>
      
        <img class="md-card-image" ng-src="612.jpg">
      <md-card-content>
        This is the card content. Controller check: {{ vm.title }}
      </md-card-content> 
    </md-card>
  <md-card flex>
    <img ng-src="612.jpg">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
</md-card>
  </div>
</div>
</div> -->